.Card{
	width: $cardWidth;
	height: $cardHeight;
	border: 1px solid #000;
	border-radius: 10px;
	box-sizing: border-box;
	color: red;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s;

	@include xs {
		width: $cardWidth * 1.5;
		height: $cardHeight * 1.5;		
	}

	@include ele(frontside) {
		position: relative;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 5px solid #fff;
		box-sizing: border-box;		
		background-color: $main-color-white;
		color: $main-color-blue;
		@include mod(upper) {
			position: absolute;
			top: 5px; left: 5px;
		}
		@include mod(center) {
			font-size: 24px;
		}
		@include mod(bottom) {
			position: absolute;	
			bottom: 5px; right: 5px;
		}				
	}

	@include ele(backside) {
		height: 100%;
		border: 5px solid $main-color-white;
		box-sizing: border-box;
		background-color: $main-color-blue;
		background-image: url('./imgs/ChasLogo.svg');
		background-size: 50%;
		background-repeat: repeat;		
	}
}