.Reveal{
	height: 100%;
	width: 100%;

	@include ele(infoContainer){
		font-size: 1em;
		@include xs {
			font-size: 1.2em;
		}			
	}	

	@include ele(card){
		position: absolute;
		width: $cardWidth * 1.5;
		height: $cardHeight * 1.5;
		@include active-card;
	}

	@include ele(flipCard){
		position: absolute;
		width: $cardWidth * 1.5;
		height: $cardHeight * 1.5;		
	}		
}

/* ReactCSSTransitionGroup classes */
.flip-card-enter {
	transform: scaleX(-1);
}

.flip-card-enter.flip-card-enter-active {
  transform: scaleX(0);
  transition: transform 1000ms;
}
	
.flip-card-leave {
  transform: scaleX(-1);
}

.flip-card-leave.flip-card-leave-active {
  transform: scaleX(0);
  transition: transform 1000ms;
}