.Select{
	height: 100%;
	width: 100%;
	@include ele(taskContainer) {
		text-align: center;
	}

	@include ele(task) {
		font-size: 1em;
		@include xs {
			font-size: 1.2em;
		}		
	}			

	@include ele(cards) {
		flex-wrap: wrap;
	}

	@include ele(cardContainer) {
		display: flex;
		justify-content: center;
		width: 33%;

		@include xs{
			width: 25%;
		}
	}

	@include ele(card){
		&:hover{
			@include active-card;
		}
	}
}