.Waiting{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include ele(infoContainer){
		font-size: 1em;
		@include xs {
			font-size: 1.2em;
		}			
	}

	@include ele(msg){
		@include mod(ready){
			// margin-bottom: 10px;
			display: block;
			text-align: center;
		}

		@include mod(indicator){
			text-align: center;	
		}
	}

	@include ele(cardContainer){
		flex-direction: column;
	}

	@include ele(indicator){
		font-size: 1em;
		@include xs {
			font-size: 1.2em;
		}			
	}	

	@include ele(card){
		width: $cardWidth * 1.5;
		height: $cardHeight * 1.5;
		@include mod(active){
			@include active-card;

			&:hover{
				animation: shake 3s infinite;
			}
		}
	}
}

// keyframes
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
