// custom variables
$main-color-grey: #2B2F2F;
$main-color-blue: #66B0C7;
$main-color-white: #FAFAFA;
$main-color-pink: #de667b;
$cardWidth: 100px;
$cardHeight: 150px;

// variables for media queries
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// mixins for media queries
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} } // Extra large devices

// mixins for handling BEM workflow
@mixin ele($element){
	&__#{$element} {
		@content;
	}
}

@mixin mod($modifier){
	&--#{$modifier} {
		@content;
	}
}

// custom mixins
@mixin active-card{
	transform: scale(1.2);
	box-shadow: 0 0 50px $main-color-pink;
	z-index: 1;
}

@mixin chas-btn($color){
	border: 2px solid $color;
  background-color: $color;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  padding: 10px 35px;
  color: #fff;
  cursor: pointer;
 
  &:hover{
  	filter: brightness(1.2);
  	text-decoration: none;
  }

  &:active{
  	filter: inherit;
  	background-color: $main-color-white;
  	color: $color;
  }   
}