// import normalize.css from node_modules
// currently imported in index.js
// @import '../node_modules/normalize.css/normalize.css';
// imports from other scss sources
@import './styles/mixins';
@import './styles/modules/playfield';
@import './styles/modules/card';
@import './styles/modules/chasbtn';
@import './styles/modules/phase';
@import './styles/modules/select';
@import './styles/modules/waiting';
@import './styles/modules/reveal';

html, body{
	font-family: "Arial Black", Gadget, sans-serif;
	overflow: hidden;
}

.App{
	height: 100vh;
	width: 100vw;	
  overflow-y: auto;
  background: $main-color-grey;   
	color: $main-color-white;

	@include xl{
		background: $main-color-blue url('./imgs/ChasLogo.svg') repeat;
		background-size: 10%;
	}

	@include ele(wrapper){
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	  background: $main-color-grey url('./imgs/ChasLogo.svg') no-repeat top 10px left 10px local; 
	  background-size: 25%;
	  overflow-y: auto;

	  @include xs{
	  	background-position: top 5px left 10px;
	  	background-size: 20%;
	  }				
		
		@include xl{
			margin: 0 auto;
			width: 1200px;
			background-color: $main-color-grey;
		}
	}
}